### Imports

In [13]:
from pathlib import Path
import pandas as pd

### Constants

In [45]:
base_dir = Path("../").resolve()
file     = base_dir/'results/final/wide_df.csv'
out_dir  = base_dir/'results/final/'

### Main

In [15]:
df =pd.read_csv(file)
df.head()

,chr,start,end,depth_0,depth_1,depth_2,depth_3,depth_4,depth_5,depth_6,...,depth_163,depth_164,depth_165,depth_166,depth_167,depth_168,depth_169,depth_170,depth_171,depth_172
0,chr1,11868,12227,336.13,555.32,389.23,441.80,413.87,434.66,285.99,...,589.74,452.67,487.75,427.14,256.49,268.15,365.33,458.66,344.98,371.86
1,chr1,12612,12721,1020.97,1290.06,1144.61,1057.99,1261.20,1314.79,792.97,...,1356.92,1127.68,1324.62,1257.15,773.54,698.63,1050.08,908.08,903.54,856.07
2,chr1,12974,13052,152.29,149.00,136.68,166.51,160.58,181.82,94.17,...,169.82,199.13,175.72,235.21,128.41,118.32,125.60,138.56,69.29,170.67
3,chr1,13220,14501,444.75,478.77,390.09,554.88,560.92,591.19,292.32,...,548.09,539.15,453.78,637.14,329.63,264.18,373.45,451.01,323.71,379.29
4,chr1,15004,15038,1207.26,1677.94,1560.09,1517.03,1477.18,1845.00,1351.44,...,1369.79,1484.68,1760.74,1797.88,869.62,752.53,1357.26,1252.88,1295.15,821.26

In [16]:
df.shape

(311489, 176)

In [19]:
depth_cols  = df.columns[3:]
df['mean'] =df[depth_cols].mean(axis=1, skipna=True)
df

,chr,start,end,depth_0,depth_1,depth_2,depth_3,depth_4,depth_5,depth_6,...,depth_164,depth_165,depth_166,depth_167,depth_168,depth_169,depth_170,depth_171,depth_172,mean
0,chr1,11868,12227,336.13,555.32,389.23,441.80,413.87,434.66,285.99,...,452.67,487.75,427.14,256.49,268.15,365.33,458.66,344.98,371.86,395.035896
1,chr1,12612,12721,1020.97,1290.06,1144.61,1057.99,1261.20,1314.79,792.97,...,1127.68,1324.62,1257.15,773.54,698.63,1050.08,908.08,903.54,856.07,1109.496301
2,chr1,12974,13052,152.29,149.00,136.68,166.51,160.58,181.82,94.17,...,199.13,175.72,235.21,128.41,118.32,125.60,138.56,69.29,170.67,155.065665
3,chr1,13220,14501,444.75,478.77,390.09,554.88,560.92,591.19,292.32,...,539.15,453.78,637.14,329.63,264.18,373.45,451.01,323.71,379.29,443.473526
4,chr1,15004,15038,1207.26,1677.94,1560.09,1517.03,1477.18,1845.00,1351.44,...,1484.68,1760.74,1797.88,869.62,752.53,1357.26,1252.88,1295.15,821.26,1400.136416
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311484,chr22,50783500,50783662,0.12,0.00,0.02,0.47,0.00,0.00,0.44,...,0.26,0.46,0.57,3.24,4.42,0.00,0.47,0.59,1.82,0.673584
311485,chr22,50783756,50784072,0.22,0.14,0.06,0.00,0.00,0.00,0.00,...,0.38,1.11,0.16,2.47,2.01,0.20,0.48,0.01,2.13,0.772312
311486,chr22,50785172,50785293,0.19,0.00,0.93,0.29,0.00,0.00,0.00,...,0.00,0.00,0.01,3.18,3.03,0.28,0.00,0.00,3.07,0.734046
311487,chr22,50788749,50789353,0.00,0.00,0.00,0.00,0.13,0.38,0.00,...,0.00,0.00,0.00,0.68,0.77,0.25,0.12,0.00,0.64,0.294046
311488,chr22,50798654,50801309,118.43,189.38,95.20,145.14,95.41,153.95,121.04,...,132.89,199.87,177.27,103.80,115.73,117.60,162.95,141.14,132.06,139.776474

In [25]:
df['mean'].quantile([0.40,0.40,0.50,0.60,0.70,0.80,0.90,0.99])

0.40     34.313029
0.45     61.665410
0.50     86.588497
0.60    129.188405
0.70    169.442462
0.80    215.739827
0.90    293.744809
0.99    642.421027
Name: mean, dtype: float64

In [39]:
df["frac_gt_50"] = df[depth_cols].gt(50).sum(axis=1) / len(depth_cols)
df["frac_gt_50"].quantile([0.20,0.30,0.40,0.45,0.50,0.60,0.70,0.80,0.90,0.99])

0.20    0.000000
0.30    0.000000
0.40    0.075145
0.45    0.739884
0.50    0.959538
0.60    1.000000
0.70    1.000000
0.80    1.000000
0.90    1.000000
0.99    1.000000
Name: frac_gt_50, dtype: float64

In [40]:
filtered = df[df["frac_gt_50"] >= 0.8].copy()

In [41]:
filtered

,chr,start,end,depth_0,depth_1,depth_2,depth_3,depth_4,depth_5,depth_6,...,depth_165,depth_166,depth_167,depth_168,depth_169,depth_170,depth_171,depth_172,mean,frac_gt_50
0,chr1,11868,12227,336.13,555.32,389.23,441.80,413.87,434.66,285.99,...,487.75,427.14,256.49,268.15,365.33,458.66,344.98,371.86,395.035896,1.0
1,chr1,12612,12721,1020.97,1290.06,1144.61,1057.99,1261.20,1314.79,792.97,...,1324.62,1257.15,773.54,698.63,1050.08,908.08,903.54,856.07,1109.496301,1.0
2,chr1,12974,13052,152.29,149.00,136.68,166.51,160.58,181.82,94.17,...,175.72,235.21,128.41,118.32,125.60,138.56,69.29,170.67,155.065665,1.0
3,chr1,13220,14501,444.75,478.77,390.09,554.88,560.92,591.19,292.32,...,453.78,637.14,329.63,264.18,373.45,451.01,323.71,379.29,443.473526,1.0
4,chr1,15004,15038,1207.26,1677.94,1560.09,1517.03,1477.18,1845.00,1351.44,...,1760.74,1797.88,869.62,752.53,1357.26,1252.88,1295.15,821.26,1400.136416,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311479,chr22,50776669,50776749,262.89,339.71,286.70,286.00,291.65,306.75,240.42,...,354.63,392.16,241.19,195.25,278.40,323.15,320.14,250.41,308.127803,1.0
311480,chr22,50777659,50777981,209.81,272.67,205.11,225.26,229.34,206.56,175.41,...,274.11,268.20,207.81,188.30,188.20,240.07,216.09,230.82,224.796936,1.0
311481,chr22,50780612,50780718,101.90,164.86,138.65,119.80,154.72,151.81,118.84,...,171.36,155.50,149.45,131.64,111.18,149.55,142.12,147.62,141.441387,1.0
311482,chr22,50782187,50782351,407.68,481.79,363.93,389.64,395.61,458.32,327.67,...,541.48,467.57,362.07,336.86,360.79,416.94,386.31,376.76,407.581040,1.0
311488,chr22,50798654,50801309,118.43,189.38,95.20,145.14,95.41,153.95,121.04,...,199.87,177.27,103.80,115.73,117.60,162.95,141.14,132.06,139.776474,1.0

In [43]:
filtered.describe()

,start,end,depth_0,depth_1,depth_2,depth_3,depth_4,depth_5,depth_6,depth_7,...,depth_165,depth_166,depth_167,depth_168,depth_169,depth_170,depth_171,depth_172,mean,frac_gt_50
count,1.691910e+05,1.691910e+05,169191.000000,169191.000000,169191.000000,169191.000000,169191.000000,169191.000000,169191.000000,169191.000000,...,169191.000000,169191.000000,169191.000000,169191.000000,169191.000000,169191.000000,169191.000000,169191.000000,169191.000000,169191.000000
mean,7.541889e+07,7.541919e+07,177.885004,263.602361,210.373815,215.074411,211.272151,236.436965,183.378479,226.552287,...,276.134097,250.018278,191.507979,177.766059,193.476909,248.576019,231.769572,212.728618,218.633275,0.990495
std,5.646247e+07,5.646246e+07,152.358811,214.526372,160.087601,159.738413,158.559071,190.044587,145.994329,178.215386,...,221.389043,204.696733,137.227519,125.694380,148.746941,203.351775,185.369584,148.724864,166.823210,0.029695
min,1.155400e+04,1.190800e+04,0.000000,0.000000,0.000000,0.060000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.040000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,58.193988,0.803468
25%,3.177920e+07,3.177941e+07,88.690000,150.935000,123.510000,125.580000,125.220000,132.920000,102.710000,128.290000,...,157.560000,134.750000,116.100000,108.360000,110.935000,142.515000,131.780000,130.560000,126.155145,1.000000
50%,6.186732e+07,6.186743e+07,144.950000,218.070000,177.880000,180.310000,179.870000,193.480000,150.860000,186.690000,...,227.770000,203.920000,162.850000,151.310000,161.930000,204.720000,192.700000,182.230000,181.432197,1.000000
75%,1.117655e+08,1.117657e+08,220.080000,311.550000,248.790000,256.330000,251.305000,279.230000,218.760000,269.705000,...,325.730000,300.060000,225.690000,209.365000,231.540000,291.770000,275.140000,251.240000,258.138988,1.000000
max,2.489366e+08,2.489370e+08,7241.790000,11949.970000,5545.630000,6709.370000,8796.570000,7700.980000,7068.350000,8469.450000,...,8067.240000,8627.790000,5557.780000,4401.750000,6341.060000,7529.000000,7643.640000,6426.650000,7184.859595,1.000000

In [46]:
filtered = filtered[['chr','start','end']]
filtered.to_csv(out_dir/'autosome_exons_filtered.bed',sep="\t",index=False)